
  .diamond-rating-wrapper{
    display:flex;
    width: 125px;
    padding:10px;
  }
 .diamond-fg{
    display: flex;
   
    position: absolute;
    overflow: hidden;
  }


  
@media screen and (max-width: 700px) {
  .diamond-rating-wrapper {margin-left: 0;
    width: auto;
    height: auto;
    position: relative;
    overflow: scroll;
  }
}