

.main{
    margin-left: 30%; /* Same as the width of the sidenav */
    font-size: 14px; /* Increased text to enable scrolling */
    margin-top: 20px;
}
.container{
  border: 1px solid #b3b3b3;
  margin-top: 10px;
  display: flex;
  padding: 2px;
}
.price{
  height: 100%;
  color: black;
}
.image{
    height: 100%;
    width: 100%;
}
  .column1 {
    float: left;
    padding: 2px;
    width: 40%;
  }
  .column2 {
    display: inline;
    float: left;
    width: 50%;
  }
  .column3 {
    background: #f6f6f6;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
  .container::after {
    content: "";
  display: table;
  clear: both;

  }

  .hotel-heading{
    font-weight: bold;
    font-size: 14px;
    font-family: Arial;
    padding: 10px;
    color: black;
  }
  .room-desc{
    font-weight: normal;
    font-size: 12px;
    font-family: Arial;
    padding-top: 5px;
    color: black;
  }
.room-heading{
    font-weight: bold;
    color: black;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
  @media screen and (max-width: 700px) {
    .main {margin-left: 0;
      width: 100%;
      height: auto;
      position: relative;
      overflow: scroll;
    }
}