.App {
  background-color:#dc140a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.app-wrapper{
  max-width: 1490px;
}
.logo-container{
  display: flex;
  margin-left: 10px;
  padding-left: 10px;
}
.Logo {
  background-image: url(./logo.png);
  margin-left: 20px;
  padding: 20px;
}
@media screen and (max-width:  768px) {
  .App {
    width: 100%;
    height: auto;
  }
}



